.padding-p {
    padding: var(--padding-pequeno);
}

.width-100 {
    width: 100%;
}

.d-flex {
    display: flex;
}

.d-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.w-50 {
    width: 50%;
}

.h1 {

}

.h2 {
    font-size: 18px;
    font-weight: 500;
}

